<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flag</key>
	<string>success</string>
	<key>message</key>
	<string>获取成功</string>
	<key>data</key>
	<dict>
		<key>History</key>
		<array>
			<dict>
				<key>GameImageUrl</key>
				<string>Counter_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string>加减大师</string>
				<key>GameId</key>
				<string></string>
			</dict>
		</array>
		<key>Recommand</key>
		<array>
			<dict>
				<key>GameImageUrl</key>
				<string>Counter_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string>加减大师</string>
				<key>GameId</key>
				<string></string>
			</dict>
			<dict>
				<key>GameImageUrl</key>
				<string>Clicker_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string>极速点击</string>
				<key>GameId</key>
				<string></string>
			</dict>
			<dict>
				<key>GameImageUrl</key>
				<string>FlappyBird_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string>像素鸟</string>
				<key>GameId</key>
				<string></string>
			</dict>
			<dict>
				<key>GameImageUrl</key>
				<string>Cat_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string>汤姆猫</string>
				<key>GameId</key>
				<string></string>
			</dict>
		</array>
		<key>Hot</key>
		<array>
			<dict>
				<key>GameImageUrl</key>
				<string>developing_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string></string>
				<key>GameId</key>
				<string></string>
			</dict>
			<dict>
				<key>GameImageUrl</key>
				<string>developing_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string></string>
				<key>GameId</key>
				<string></string>
			</dict>
			<dict>
				<key>GameImageUrl</key>
				<string>developing_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string></string>
				<key>GameId</key>
				<string></string>
			</dict>
			<dict>
				<key>GameImageUrl</key>
				<string>developing_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string></string>
				<key>GameId</key>
				<string></string>
			</dict>
		</array>
		<key>Web</key>
		<array>
			<dict>
				<key>GameImageUrl</key>
				<string>developing_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string></string>
				<key>GameId</key>
				<string></string>
			</dict>
			<dict>
				<key>GameImageUrl</key>
				<string>developing_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string></string>
				<key>GameId</key>
				<string></string>
			</dict>
			<dict>
				<key>GameImageUrl</key>
				<string>developing_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string></string>
				<key>GameId</key>
				<string></string>
			</dict>
			<dict>
				<key>GameImageUrl</key>
				<string>developing_logo</string>
				<key>GameCount</key>
				<string>0</string>
				<key>GameUrl</key>
				<string></string>
				<key>GameName</key>
				<string></string>
				<key>GameId</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
